  .header{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
  z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(58, 57, 57, 0.1);
    
  }
  .leftsection{
   display: flex;
   align-items: center;
  }
  .centersection{
   
    flex: 1;
    margin-left: 55px;
    margin-right:35px;
    max-width: 500px;
    display: flex;
    align-items: center;
    
  }
  .searchbutton,
  .voicesearch{
     height: 40px;
    width: 66px;
    margin-right: 10px;
    margin-left: -1px;
    border-radius: 2px;
     border: 1px solid rgba(58, 57, 57, 0.1);
  }
  .searchbutton,
  .voicesearch,
  .uploadiconcontainer,
  .libraryiconcontainer,
  .notiiconcontainer,
  .profileiconcontainer{
    display: flex;
   
    position: relative;
   
     justify-content: center;
  align-items: center;
    
  }
  .searchbutton .hovertext,
  .voicesearch .hovertext,
  .uploadiconcontainer .hovertext,
  .libraryiconcontainer .hovertext,
  .notiiconcontainer .hovertext,
  .profileiconcontainer .hovertext{
    position: absolute;
    background-color: grey;
    color:white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
    font-size: 12px;
    bottom: -20px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
  }
  .searchbutton:hover .hovertext,
  .voicesearch:hover .hovertext,
  .uploadiconcontainer:hover .hovertext,
  .libraryiconcontainer:hover .hovertext,
  .notiiconcontainer:hover .hovertext,
  .profileiconcontainer:hover .hovertext{
opacity: 1;
  }
  .voicesearch{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border:none;
  }
  .searchbar{
    height: 35px;
    flex: 1;
    padding-left: 12px;
    border-width: 1px;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    border: 1px solid rgba(58, 57, 57, 0.1);
    border-radius: 2px;
    width: 0;
  }
  .searchbar::placeholder{
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  .rightsection{
    margin-right:20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    flex-shrink: 0;
  }
 .uploadbutton, .librarybutton, .notificationbutton, .profilebutton{
    width: 40px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profileicon{
    border-radius: 20px;
    width: 42px;
    height: 32px;
  }
   .notify {
  position: relative;
  width: 30px;
  height: 30px;
 
  
}

.notifycount {
  position: absolute;
  top: -2px;      
  right: -3px;
  background-color: red;
  color: white;
  font-size: 10px;
  border-radius: 50%;
padding-left: 3px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  
  
  text-align: center;
}
