 .subscribe{
        background-color:rgb(199, 4, 4);
        color:rgb(255, 255, 255);
        border:rgb(199, 4, 4) 2px solid;
       padding-left:10px;
       padding-right:10px;
       padding-top:10px;
        padding-bottom:10px;
        border-radius:3px;
        cursor:pointer;
        margin-right:10px ;
        transition: opacity 0.18s;
        }
    .subscribe:hover{
       opacity: 0.8;
        cursor: pointer;
    }
    .subscribe:active{
        opacity: 0.5;
    }
  .join{
    background-color: white;
    color:blue;
    border:blue 2px solid;
    border-radius:3px;
    cursor:pointer;
    padding-left: 10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
   
    transition:background-color 0.2s,color 0.2s,border 0.2s;
  }

.join:hover {
  background-color: blue;
  color: white;
  border-radius: 3px;
  border: blue 2px solid;
}

.join:active {
  opacity: 0.7;
}

     .tweet{
            background-color: rgb(21, 143, 191);
            color: white;
            border: rgb(21, 143, 191) 2px solid;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-radius: 20px;
            cursor: pointer;
            margin-left: 8px;
          transition: box-shadow 0.2s,color 0.2s,background-color 0.2s ;
        }
    .tweet:hover{
            background-color:white;
            color:rgb(21,143,191);
            border: rgb(21,143,191) 2px solid;
             box-shadow: 3px 3px 5px rgba(0,0,0,0.7);
        }